section.feature
    .container
        .feature
            img.feature-phones(src="img/phones.png", alt="")
            .feature-info
                .feature-info__slogan App Core 
                    span.feature-info__colored Features
                .feature-info__text It is a long established fact that a reader will be distracted its by the readable content of a page when at its layout.
                .feature-blocks
                    .feature-block 
                        img(src="img/brilliant.png", alt="")
                        .feature-block__slogan Premium Quality
                        .feature-block__text Lorem has survived not only five to but also the leap.
                    .feature-block 
                        img(src="img/retina.png", alt="")
                        .feature-block__slogan Retina Ready
                        .feature-block__text Lorem has survived not only five top itypesetting changed.
                    .feature-block 
                        img(src="img/security.png", alt="")
                        .feature-block__slogan Top Class Security
                        .feature-block__text Lorem has survived not only five top but also the leap.
                    .feature-block 
                        img(src="img/timer.png", alt="")
                        .feature-block__slogan Excellent Support
                        .feature-block__text Lorem has survived not only five top itypesetting changed.