footer.footer
  a(href="#", onclick="smoothJumpUp(); return false;")#upbutton
      img(src="img/arrow-top.svg", alt="")
  .container.footer__container 
    .footer__info
      .logo.footer__logo
        img(src="img/logo_dark.svg", alt="logo")
      p.footer__desc It is a long established fact that  it is reader will be distracted it by readable content of a pagei when at it conten making.
      .footer__social
        h2.footer__title.footer__social-title Follow Us
        ul.footer__list
          li.footer__item
            img(src="img/facebook.svg", alt="icon")
          li.footer__item
            img(src="img/twitter.svg", alt="icon")
          li.footer__item
            img(src="img/instagram.svg", alt="icon")
          li.footer__item
            img(src="img/linkedin.svg", alt="icon")
    .footer__resource
      h2.footer__title.footer__resource-title Resources
      nav.footer__nav.footer__resource-nav 
        a.footer__link(href="#") Watch Demo Video
        a.footer__link(href="#") Documents
        a.footer__link(href="#") Intigrations
        a.footer__link(href="#") Creating Tasks
        a.footer__link(href="#") Themes
        a.footer__link(href="#") Plugin
    .footer__company
      h2.footer__title.footer__company-title Company
      nav.footer__nav.footer__company-nav 
        a.footer__link(href="#") Live Chanel
        a.footer__link(href="#") Latest Peoject
        a.footer__link(href="#") Manage Work 
        a.footer__link(href="#") Quick Start Guide 
        a.footer__link(href="#") Feedback
        a.footer__link(href="#") Support Center
    .footer__news
      h2.footer__title.footer__news-title Newsletter
      a(href="#").footer__link.footer__news-text Subscribe to our newsletter for latest update
      form.footer__news-form(action="#")
        .footer__news-group 
          input(type="text", placeholder="Enter your email").footer__news-input 
          a.footer__news-send(href="#")
            img(src="img/send.svg", alt="send")
  .footer__adv
    .footer__adv-wrap
      p.footer__adb-desc &copy; 2017 
        b.footer__adv-bold Equalizzer 
        | | All Rights Reserved By 
        b.footer__adv--bold Abdullah Al Mamun 
        | | 
        b.footer__adv--bold Envato Marketplace
