section.overview
   section.overview
      .container
         .over__icons
            .over__block
               img.over__img(src="../img/icon.svg", alt="")
               h3.over__title Clean Design
               p.over__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, dicta modi.
            .over__block
               img.over__img(src="../img/icon2.svg", alt="")
               h3.over__title User Friendly
               p.over__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, repellat!
            .over__block
               img.over__img(src="../img/icon3.svg", alt="")
               h3.over__title Ease to Use
               p.over__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nam 
            .over__block
               img.over__img(src="../img/icon4.svg", alt="")
               h3.over__title Branding
               p.over__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quasi 

