<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/main.css")
    title App landing
  body
    .wrapper
      //- Musa
      include includes/header
      //- Arslan
      include includes/overview
      //- Ырыс
      include includes/feature
      //- Изат
      include includes/video
      //- Данияр
      include includes/screenshot
      //- Имар
      include includes/achieve
      //- Алексей
      include includes/feedback
      //- Мусулманкул
      include includes/pricing
      //- Даниель
      include includes/download
      //- Темирлан
      include includes/news
      include includes/footer
    script(src="js/script.js")  